body{
	background-color: lightblue;
	margin: 0px;
	padding: 0px;
}

.bars{
	background-color: blue;
	display: inline-block;
	text-align: center;
	color: blue;
	border-radius: 25%;
	box-shadow: 10px 10px 5px gray;
}

#container{
	top:-40px;
	position: absolute;
	width: 100%;
	height: 100%;
	top:-10%;
}

#frequency-field{
	float: bottom;
}